body {
    margin: 5em auto;
    width: 60%;
    background-color: #eb9763;
    font-family:'Nunito', 'Arial', 'Sans-Serif';  
}

@media only screen and (max-width: 600px) {
  body {
    width:90%;
  }
}

#logo {
  height: 3em;
  margin-bottom: 1em;
}
  
nav ul, footer ul {
    padding: 0px;
    list-style: none;   
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 0.8em;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
  color: white;
  font-weight: 600;
}

p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    color: #212121;
}

footer, nav {
    border-top: 0.05em solid grey;
    border-bottom: 0.05em solid grey;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

code {
  font-size: 1.1em;
}

pre {
  color: white;
  border-top: 0.05em dashed white;
  border-bottom: 0.05em dashed white;
  padding: 1em 0 1em 0;
  overflow: auto;
}
