html {
  padding: 5em;
}

body {
    margin: auto;
    max-width: 45em;
    background-color: #eb9763;
    font-family:'Nunito', 'Arial', 'Sans-Serif';
}

#logo {
  height: 3em;
  margin-bottom: 1em;
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 2em;
    font-size: 0.8em;
    font-weight: 300;
}



div.projectContainer {
  display: flex;
}

div.projectContainer img {
  width: 25em;
  height: 15em;
}

div.projectContainer p {
  padding: 0 1em 0 1em;
}


ul.posts, ul.projects {
  padding: 0;
  font-size: 1em;
}

ul.posts {
    list-style: none;
    border-top: 0.05em solid grey;
    padding:  0;
}

#projectsContent {
  transition-property: height;
  transition-duration: 0.5s;
  overflow: hidden;
  height: auto;
}



#postsContent {
  transition-property: height;
  transition-duration: 0.5s;
  overflow: hidden;
  height: 0;
}



ul.projects li {
  background-color: #d6ca7c;
  list-style: none;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 0.2em;
}

ul.projects a {
  font-weight: 600;
  margin-top: 2rem;
}

div.selector {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}



footer, nav {
    border-top: 0.05em solid grey;
    border-bottom: 0.05em solid grey;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 600;
}

h2 {
    padding: 0.2em;
    font-size: 0.8em;
    font-weight: 300;
    color:white;
}

p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4em;
    color: #212121;
}


code {
  font-size: 1.1em;
  background-color: #d29a79;
}

pre {
  color: white;
  border-top: 0.05em dashed white;
  border-bottom: 0.05em dashed white;
  padding: 1em 0 1em 0;
  overflow: auto;
}

pre code{
  background-color: transparent;
}

iframe {
  border: none;
  width: 100%;
}

.blog-img{
  width: 100%;
  padding: 1em 0 0 0 ;
}

@media only screen and (max-width: 600px) {
  body {
    width:90%;
    margin: 1.5em auto 1em auto;
  }
  html {
    padding: 0;
  }
  div.projectContainer {
    display: block;
  }
  div.projectContainer img {
    width: 100%;
    height: auto;
  }

}
