@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

body{
  margin: 0;
}

#bigWrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
}

#wrapper {
  background-color: blue;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

#gridContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: repeat(20, 50px) / repeat(20, 50px);
  height:1200px;
  width: 1200px;
  position: relative;
  left: -300px;
  top: -300px;

  overflow: hidden;

  grid-gap: 0;
}

.grid-item {
  font-family: 'Raleway', sans-serif;
  font-size: 35pt;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: none;
}

.controls {
  display: flex;
  padding: 0 0 10px 0;
  width: 600px;
  justify-content: space-between;
}

.slideContainer {
  border: 1px solid black;
  flex-grow: 1;
}

.colourSelectContainer {
  border: 1px solid black;
  height: 50px;
  padding: 0 10px 0 10px;
  flex-grow: 1;
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
