html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: "Rubik", "sans-serif";
  font-weight: 800;
}

p {
  text-align: center;
  margin: 0;
}

p.intro {
  max-width: 20rem;
  margin-bottom: 1rem;
}

#logo {
  height: 20rem;
  margin-bottom: 1.5rem;
}

/* beer glass and stat page */

#pageOne {
  background-color: #19c7d4;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* intro page */

#pageTwo {
  background-color: #fa004b;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* form page */

#pageThree {
  background-color: rgba(25, 25, 25, 0.3);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
container for intro and form pages: adjust "top" value to
slide this up and reveal different pages in the viewport
*/

#slider {
  position: relative;
  top: -100vh;
  transition-property: top;
  transition-duration: 1s;
}

/*beer glass artwork */

#beerBody {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(208, 145, 46, 1) 0%,
    rgba(228, 215, 26, 1) 100%
  );
  height: 0em;
  width: 20em;
  border-top: 0em solid white;
  bottom: 0em;
  left: -2em;
  transform: rotate(0deg);

  animation-name: none;
  animation-duration: 1s;
  animation-iteration-count: 2;

  transition-duration: 3s;
  transition-property: height, border-top;
  animation-timing-function: linear;
}

div.side {
  width: 2em;
  height: 30em;
  background-color: #DEEDFF;
  position: absolute;
  top: 0;
}

#left {
  top: 0em;
  left: -0.6em;
  transform: rotate(-3deg);
}

#right {
  top: 0;
  left: 14.6em;
  transform: rotate(3deg);
}

div.glassBody {
  position: absolute;
  height: 28em;
  width: 16em;
  background-color: blue;
  left: 0em;
  top: 0em;
  opacity: 0.05;
}

div.shading {
  position: absolute;
  width: 8em;
  height: 28em;
  background: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 0;
  opacity: 0.6;
}

div.highlight {
  position: absolute;
  height: 28em;
  background: white;
  opacity: 0.2;
  top: 0em;
  left: 4em;
  transform: rotate(-2deg);
  width: 2em;
}

#beerContainer {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  width: 16rem;
  height: 30rem;
  transform: scale(1, 1);
  right: 0;
}

div.base {
  position: absolute;
  width: 16em;
  height: 2em;
  background-color: #DEEDFF;
  top: 28em;
}

#drip {
  position: absolute;
  height: 0em;
  background: white;
  top: -1em;
  left: 11em;
  width: 1em;
  border-radius: 1em;
  transition-duration: 2s;
  transition-property: height;
}

/*form styling*/

div.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="number"] {
  padding: 0.5rem;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 0.5rem;
  width: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

div.glassSelector {
  display: flex;
  flex-direction: row;
  max-width: 4rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

#glassInfo {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
}

/* arrow button styling */

button.arrow {
  border: none;
  text-decoration: none;
}

button:active {
  transform: scale(0.9);
}

/* make intro page arrow larger */

#startArrow {
  font-size: 3em;
}

/* button styling */

button {
  border: 0.2rem dotted white;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  cursor: pointer;
}

/* emphasis for buttons / form inputs */

:focus {
  background: #ebde34;
  outline: none;
}

/* stat container styling */

#statContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -13rem;
  min-width: 13rem;

  opacity: 0;
  transition-property: margin-left, opacity;
  transition-duration: 1s;
}

div.statText {
  border-bottom: 0.2rem solid white;
  margin-bottom: 0.8rem;
  padding-bottom: 0.5rem;
}

/* stat label styling */

h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 1rem;
  margin: 0;
}

/* elements declared individually so their values
can be individually updated from the Javascript */

#frothVolText,
#beerVolText,
#percentText,
#costText {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

/* increase font size and form size for mobile viewing */

@media only screen and (max-width: 520px) {
  html {
    font-size: 3vw;
  }
  div.formContainer {
    transform: scale(1.5);
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
