html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 3vw;
  }
  div.inputContainer {
    transform: scale(1.5);
  }
}

body {
  margin: 0;
  font-family: "Rubik", "sans-serif";
  font-weight: 800;
  color: white;
  background-color: black;
  overflow: hidden;
}

div.pageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

#pageOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fa004b;
  z-index: 2;
  position: absolute;
  top: 0;
  transition-property: top;
  transition-duration: 1s;
}

#pageTwo {
  background-color: #19c7d4;
  z-index: 0;
}

#pageThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(25, 25, 25, 0.3);
  z-index: 3;
  top: 100vh;
  opacity: 0;
  transition-property: top;
  transition-duration: 1s;
}

div.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#beerBody {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(208, 145, 46, 1) 0%,
    rgba(228, 215, 26, 1) 100%
  );
  height: 0em;
  width: 20em;
  border-top: 0em solid white;
  bottom: 0em;
  left: -2em;
  transform: rotate(0deg);

  animation-name: none;
  animation-duration: 1s;
  animation-iteration-count: 2;

  transition-duration: 3s;
  transition-property: height, border-top;
  animation-timing-function: linear;
}

div.side {
  width: 2em;
  height: 30em;
  background-color: #DEEDFF;
  position: absolute;
  top: 0;
}

#left {
  top: 0em;
  left: -0.6em;
  transform: rotate(-3deg);
}

#right {
  top: 0;
  left: 14.6em;
  transform: rotate(3deg);
}

div.glassBody {
  position: absolute;
  height: 28em;
  width: 16em;
  background-color: blue;
  left: 0em;
  top: 0em;
  opacity: 0.05;
}

div.shading {
  position: absolute;
  width: 8em;
  height: 28em;
  background: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  top: 0;
  opacity: 0.6;
}

div.highlight {
  position: absolute;
  height: 28em;
  background: white;
  opacity: 0.2;
  top: 0em;
  left: 4em;
  transform: rotate(-2deg);
  width: 2em;
}

#beerContainer {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  width: 16rem;
  height: 30rem;
  transform: scale(1, 1);
  right: 0;
}

div.base {
  position: absolute;
  width: 16em;
  height: 2em;
  background-color: #DEEDFF;
  top: 28em;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#drip {
  position: absolute;
  height: 0em;
  background: white;
  top: -1em;
  left: 11em;
  width: 1em;
  border-radius: 1em;
  transition-duration: 2s;
  transition-property: height;
}

div.bigContainer {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#statContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -13rem;
  min-width: 13rem;

  opacity: 0;
  transition-property: margin-left;
  transition-duration: 1s;
}

div.statText {
  border-bottom: 0.2rem solid white;
  margin-bottom: 0.8rem;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0;
}
h2 {
  font-size: 1rem;
  margin: 0;
}

h1.stats {
}

#frothVolText,
#beerVolText,
#percentText,
#costText {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

p {
  text-align: center;
  margin: 0;
}

p.intro {
  max-width: 20rem;
  margin-bottom: 1rem;
}

p.glasses {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#arrow {
  font-size: 3rem;
}

div.glassSelector {
  display: flex;
  flex-direction: row;
  max-width: 4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

#glassInfo {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 0.8rem;
}

:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

#arrow:active {
  transform: scale(0.9);
}

#again {
  opacity: 0;
}

button {
  border: 0.2rem dotted white;
  text-decoration: none;
  background-color: transparent;
  color: inherit;
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

input[type="number"] {
  padding: 0.5rem;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 0.5rem;
  width: 8rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button.selectArrow {
  border: none;
  text-decoration: none;
}

#logo {
  height: 20rem;
  margin-bottom: 1.5rem;
}

:focus {
  background: #ebde34;
  outline: none;
}
