---
layout: default2
title: Coding projects and blog
---

	<div class="container" id="projectsContent">
		<ul class = "projects" >

			{% for post in site.projects %}
				<li>
					<div class="projectContainer">
						<img src="{{ project.img }}"/>
						<div class="projectText">
							<h3>{{ project.title }}</h3>
							<p>
								{{ post }}
							</p>
							<a href="{{ project.url }}">Project</a><span>      </span><a href=#>Write-up</a>
						</div>
					</div>
				</li>
				{% endfor %}
		</ul>
  </div>

  <div class="container" id="postsContent">
		<h1>Latest Posts</h1>
		<ul class="posts">
		  {% for post in site.posts %}
		    <li>
			    <span>{{ post.date | date_to_string }}</span>
			    » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			    <div>{{ post.excerpt }}
				<a href="{{ post.url }}">more »</a>
			    </div>
		  </li>

		  {% endfor %}
		</ul>
  </div>
