---
layout: default3
title: Latrest posts
---
	<h1>{{ page.title }}</h1>
	<ul class="posts" id="postsElement">
	  {% for post in site.posts %}
		{% if post.category == "blog" %}
		<li>
			 <span>{{ post.date | date_to_string }}</span>
			 » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			 <div>{{ post.excerpt }}
		 <a href="{{ post.url }}">more »</a>
			 </div>
		</li>
		{% endif %}
	  {% endfor %}
	</ul>

	<ul class = "projects" id="projectsElement">
	  {% for post in site.posts %}
		{% if post.category !="blog" %}
		<li>
			 <h1>{{ post.title }}</h1>
			 <p>{{ post.excerpt }}</p>
			 <a href="{{ post.viewproject }}" title="{{ post.title }}">view project</a>
			 <a href="{{ post.viewwriteup }}" title="{{ post.title }} write-up">view write-up</a>
		</li>
		{% endif %}
	  {% endfor %}
	</ul>
