---
layout: default3
title: Latest posts
---

<script>
	function toggle() {
		if (document.getElementById("postsElement").style.display === "block"){
				document.getElementById("postsElement").style.display = "none";
				document.getElementById("projectsElement").style.display = "block";
	      document.getElementById("postsButton").style.backgroundColor = "transparent";
	      document.getElementById("projectsButton").style.backgroundColor = "#cc8d66";
		}
		else {
			document.getElementById("postsElement").style.display = "block";
			document.getElementById("projectsElement").style.display = "none";
	     document.getElementById("postsButton").style.backgroundColor = "#cc8d66";
	     document.getElementById("projectsButton").style.backgroundColor = "transparent";
		}
	}
</script>

<ul class="posts" id="postsElement">
	{% for post in site.posts %}
	{% if post.category == "blog" %}
	<li>
		<span>{{ post.date | date_to_string }}</span>
			»
		<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		<div>{{ post.excerpt }}
			<a href="{{ post.url }}">more »</a>
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>

<ul class = "projects" id="projectsElement">
	{% for post in site.posts %}
	{% if post.category !="blog" %}
	<li>
		<img src="{{post.thumbnail}}" />
		<div class="projectText">
			<h1>{{ post.title }}</h1>
			<div>{{ post.excerpt }}
				<a class="projectLink" href="{{ post.viewproject }}" title="{{ post.title }}">view project</a>
				<a class="projectLink" href="{{ post.viewwriteup }}" title="{{ post.title }} write-up">view write-up</a>
			</div>
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>
