<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="https://raw.githubusercontent.com/jxbx/test12102020/main/images/favicon.png">
  </head>


  <body>
    <div class = "logo">
      <img src= "https://raw.githubusercontent.com/jxbx/test12102020/main/images/logo_large.png" height = 60
   </div>
  
  <nav>
    <ul>
      <li><a href="null">HOME</a></li>
      <li><a href="null">ABOUT</a></li>
    </ul>
  </nav>

  <div class="container">
  
  {{ content }}
  
   </div>

  <footer>
   <ul>
   <li><a href="https://github.com/jxbx">GITHUB</a></li>
     <li><a href="https://www.behance.net/justindraws">BEHANCE</a></li>
     <li><a href="https://500px.com/p/justinbailey?view=photos">500PX</a></li>    
     <li><a href="https://www.instagram.com/juiced_in_time/">INSTAGRAM</a></li>
     <li><a href="https://dribbble.com/justindraws">DRIBBBL</a></li>
   </ul>
  </footer>
  </body>

</html>
