<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/main2.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="icon" href="../images/favicon.png">
  </head>

  <script>
    function projectsSelect () {

      let projects = document.getElementById("projectsButton");
      let blog = document.getElementById("blogButton");
      let projectsContent = document.getElementById("projectsContent");
      let postsContent = document.getElementById("postsContent");


      if (projects.style.color = "grey"){
        projects.style.color = "white";
        blog.style.color = "grey";
        postsContent.style.height = "0";
        projectsContent.style.height = "auto";
      };
    }

    function blogSelect () {

      let projects = document.getElementById("projectsButton");
      let blog = document.getElementById("blogButton");
      let projectsContent = document.getElementById("projectsContent");
      let postsContent = document.getElementById("postsContent");

      if (blog.style.color = "grey"){
        blog.style.color = "white";
        projects.style.color = "grey";
        postsContent.style.height = "auto";
        projectsContent.style.height = "0";
      };
    }
  </script>


  <body>
      <img src= "../images/logo_large.png"
       id="logo">


  <nav>
    <ul>
      <li><a href="https://www.justinbailey.net/blog/">CODING</a></li>
      <li><a href="null">ABOUT</a></li>
      <li><a href="https://github.com/jxbx">GITHUB</a></li>
    </ul>
  </nav>
  <div class="selector">
  <h1 id="projectsButton" onclick="projectsSelect()" value="true" style="color: white">Projects</h1>
  <h1>|</h1>
  <h1 id="blogButton" onclick="blogSelect()" value="false" style="color: grey">Blog</h1>
  </div>

  <div class="container" id="projectsContent">
    <ul class = "projects" >
      <li>
        <div class="projectContainer">
          <img src="../images/pint pedant thumb.png"/>
          <div class="projectText">
            <h3>Pint Pedant</h3>
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
            <a href="../projects/pintpedant.html">Project</a>
            <a href=#>Write-up</a>
          </div>
        </div>
      </li>

      <li>
        <div class="projectContainer">
          <img src="../images/enigmemulator thumb.png"/>
          <div class="projectText">
            <h3>Enigmemulator</h3>
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
            </p>
            <a href="../projects/enigmemulator.html">Project</a>
            <a href="https://www.justinbailey.net/2021/01/29/The-EnigMemulator.html">Write-up</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
  <div id="postsContent">
    {{ content }}
  </div>

  <footer>
   <ul>

     <li><a href="https://www.behance.net/justindraws">BEHANCE</a></li>
     <li><a href="https://500px.com/p/justinbailey?view=photos">500PX</a></li>
     <li><a href="https://www.instagram.com/juiced_in_time/">INSTAGRAM</a></li>
     <li><a href="https://dribbble.com/justindraws">DRIBBBL</a></li>
   </ul>
  </footer>
  </body>

</html>
