<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="icon" href="../images/favicon.png">
  </head>


  <body>
      <img src= "../images/logo_large.png"
       id="logo">


  <nav>
    <ul>
      <li><a href="https://www.justinbailey.net/blog/">BLOG HOME</a></li>
      <li><a href="null">ABOUT</a></li>
      <li><a href="https://github.com/jxbx">GITHUB</a></li>
    </ul>
  </nav>

  <div class="container">
    <h1>Projects</h1>
    <ul class = "posts">
      <li>
        <h1> The Enigmemulator </h1>
        <div class=projectContainer>
          <img src="https://assets.londonist.com/uploads/2019/04/i875/56490473_2097834703646565_4784550222934048768_n.jpg"/>
          <p>
              I’ve been spending some time working through problem solving challenges on HackerRank; here’s one I really enjoyed. It seemed easy to solve at first glance, but it threw up some interesting edge cases, and after a good start it took me a while longer to write a comprehensive function which would handle all the test inputs.
          </p>
        </div>
        <a href=#>more</a>
      </li>
      <li>
        <h1> The Enigmemulator </h1>
        <div class=projectContainer>
          <img src="https://assets.londonist.com/uploads/2019/04/i875/56490473_2097834703646565_4784550222934048768_n.jpg"/>
          <p>
              I’ve been spending some time working through problem solving challenges on HackerRank; here’s one I really enjoyed. It seemed easy to solve at first glance, but it threw up some interesting edge cases, and after a good start it took me a while longer to write a comprehensive function which would handle all the test inputs.
          </p>
        </div>
      </li>
    </ul>
    {{ content }}
  </div>

  <footer>
   <ul>

     <li><a href="https://www.behance.net/justindraws">BEHANCE</a></li>
     <li><a href="https://500px.com/p/justinbailey?view=photos">500PX</a></li>
     <li><a href="https://www.instagram.com/juiced_in_time/">INSTAGRAM</a></li>
     <li><a href="https://dribbble.com/justindraws">DRIBBBL</a></li>
   </ul>
  </footer>
  </body>

</html>
